<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/teste.css"  media="screen,projection"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div id="base" class="container">
    <h4 id="welcome" >Bem vindo</h4>

    <form th:action="@{/login}" method="post" id="form" class="container"  >
        <div th:if="${param.error}">
            Usuário ou senha digitados incorretamente.
        </div>
        <div th:if="${param.logout}">
            Vou se desconectou com sucesso.
        </div>

        <div class="row">
                Login: <input type="text"
                               name="username"
                               id="email"
                               required
                               value=""
            />
                Senha: <input type="password"
                              name="password"
                              id="senha"
                              required
                              value=""
            />
            </div>
        <div >
            <button id="btnEntrar">Entrar</button></a>
        </div>

        <div id="LinkCadastrar" >
            <small> Não tem uma conta? </small><a href="/telaCadastro">Cadastre-se</a>
        </div>
    </form>
</div>
</div>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>