<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>EventosApp</title>
</head>
    <body>
        <h3>Lista de eventos</h3>
        <h1><a href="/CadastroEvento">Cadastrar Evento</a></h1>

    <div th:each="evento : ${eventos}">
        <div class="row">
            <p><span th:text="${evento.nomeEvento}"></span></p>
            <p><span th:text="${evento.localEvento}"></span></p>
            <p><span th:text="${evento.dataEvento}"></span></p>
            <p><span th:text="${evento.horaEvento}"></span></p>
        </div>
    </div>
    </body>
</html>