<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="pt-br" xmls="http://www.w3.org/1999/xhtml"
           xmls:layaut="xmlns:xmls=http://www.ultaq.net.nz/thymeleaf/layaut"
           xmlns:xmls="http://www.w3.org/1999/xhtml" >
    <head>
        <title>EventosApp:</title>
    </head>
    <body>
    <h4>Cadastro de Eventos</h4>

    <form method="post" action="#">

        Nome: <input type="text"
                    name="nomeEvento"
                    id="nomeEvento"
                    value="Informe o nome do Evento"
                    onfocus="value='';" >

        Local:<input type="text"
                     name="localEvento"
                     id="localEvento"
                     value="Informe o local"
                     onfocus="value='';" >

        Data: <input type="date"
                     name="dataEvento"
                     id="dataEvento"
                     value="Informe a data do evento"
                     onfocus="value='';" >

        Hora: <input type="time"
                     name="horaEvento"
                     id="horaEvento"
                     value="Informe a hora do evento"
                     onfocus="value=''">

        <button type="submit">Salvar</button>
    </form>
    </body>
</html>