<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>EventosApp:</title>
    </head>
    <body>
    <h4>Cadastro de Eventos</h4>

    <form method="post">

        Nome: <input type="text"
                     name="nomeEvento"
                     id="nomeEvento"
                     value="" />

        Local:<input type="text"
                     name="localEvento"
                     id="localEvento"
                     value="" />

        Data: <input type="date"
                     name="dataEvento"
                     id="dataEvento"
                     value="" />

        Hora: <input type="time"
                     name="horaEvento"
                     id="horaEvento"
                     value="" />

        <button type="submit">Salvar</button>
    </form>
    </body>
</html>